body {
    margin: 10 px;
    background-color: white
}
.HeaderColumnLeft {
    background-image: url(file.png);
    background-repeat: no-repeat;
    float: left;
    width: 10%;
    height: 22vh
}

.HeaderColumnRight {
    background-color: black;
    float: right;
    height: 21vh;
    width: 60%
}

.header {
    padding: 1px;
    text-align: center;
    background: #ffffff;
    color: #10336a;
    font-size: 24px;
    font-family: tahoma;
    text-transform: uppercase;
    letter-spacing: 5px
}

.LogoCorner {
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 10px
}

.LogoCornerBelow {
    right: 0;
    top: 10;
    position: absolute;
    padding-top: 60px
}
.TopNav {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #10336a;
    width: 100%
}

    .TopNav a {
        float: left;
        padding: 10px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-family: tahoma;
        width: 18%;
        text-align: center
    }

        .TopNav a:hover {
            background-color: #ddd;
            color: black;
        }

        .TopNav a.active {
            background-color: #04AA6D;
            color: white;
        }
